.line
{
color: rgb(226, 8, 8);
text-align: center;

}

.normal 
{
color:blue;
text-align: center;
font-family: Arial, Helvetica, sans-serif;


}

.bild
{
    text-align: center;
width: 300px;
height: 300px;


}